.u-section-1 .u-sheet-1 {
  min-height: 488px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  text-decoration: underline !important;
  margin: 8px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  margin: 14px 0 30px;
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    font-size: 0.875rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 583px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 20px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 503px;
}

.u-section-2 .u-container-layout-1 {
  padding: 9px 30px 0;
}

.u-section-2 .u-image-1 {
  height: 435px;
  margin-top: 0;
  margin-bottom: 0;
  filter: brightness(0.35);
}

.u-section-2 .u-icon-1 {
  width: 88px;
  height: 88px;
  margin: -416px auto 0;
  padding: 0;
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  width: 90px;
  margin: 30px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  margin: 46px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 503px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 27px;
}

.u-section-2 .u-image-2 {
  width: 506px;
  height: 439px;
  filter: brightness(0.35);
  margin: 7px 3px 0 auto;
}

.u-section-2 .u-text-3 {
  font-size: 1rem;
  margin: -218px 0 0 10px;
}

.u-section-2 .u-text-4 {
  margin: -207px 207px 0 203px;
}

.u-section-2 .u-icon-2 {
  width: 88px;
  height: 88px;
  margin: -153px auto 65px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 502px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
    margin-bottom: 27px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 415px;
  }

  .u-section-2 .u-image-1 {
    height: 350px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: -331px;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.875rem;
    width: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 415px;
  }

  .u-section-2 .u-image-2 {
    width: 416px;
    height: 361px;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    font-size: 0.875rem;
    margin-top: -140px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    width: 107px;
    margin-top: -214px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-icon-2 {
    margin-top: -146px;
    margin-right: 156px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 394px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 40px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 294px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-2 .u-image-1 {
    height: 256px;
    margin-top: 9px;
  }

  .u-section-2 .u-icon-1 {
    width: 77px;
    height: 77px;
    margin-top: -265px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 9px;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.75rem;
    margin-top: 32px;
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 294px;
  }

  .u-section-2 .u-image-2 {
    width: 306px;
    height: 266px;
  }

  .u-section-2 .u-text-3 {
    font-size: 0.75rem;
    width: auto;
    margin-top: -133px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: -178px;
    margin-right: 90px;
    margin-left: 109px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: -123px;
    margin-right: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 819px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 59px;
    margin-bottom: 23px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 417px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 317px;
    width: 465px;
    margin-top: 33px;
    margin-right: auto;
    margin-left: 20px;
  }

  .u-section-2 .u-icon-1 {
    width: 64px;
    height: 64px;
    margin-top: -316px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 16px;
    margin-right: 209px;
    margin-left: 222px;
  }

  .u-section-2 .u-text-2 {
    width: 303px;
    margin-top: 67px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 320px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-image-2 {
    width: 524px;
    margin-top: 42px;
    margin-right: 16px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    width: 306px;
    margin-top: -152px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-4 {
    width: 321px;
    margin-top: -184px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-icon-2 {
    width: 67px;
    height: 67px;
    margin-top: -95px;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 470px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 100%;
    margin: 10px 0 60px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 252px;
  }

  .u-section-2 .u-image-1 {
    height: 218px;
    width: 320px;
    margin-left: 0;
  }

  .u-section-2 .u-icon-1 {
    width: 42px;
    height: 42px;
    margin-top: -215px;
    margin-right: 135px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -2px;
    margin-right: 109px;
    margin-left: 122px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 25px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 148px;
  }

  .u-section-2 .u-image-2 {
    height: 190px;
    width: 340px;
    margin-top: 10px;
    margin-right: -10px;
    margin-left: auto;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: -130px;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: -161px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-icon-2 {
    width: 32px;
    height: 32px;
    margin-top: -59px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-image-1 {
  min-height: 869px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/Screenshot2022-08-25at20-24-01Lavicocompanyprofile-LAVICO-EDPProfile.pdf.png");
  background-position: 50% 50%;
}

.u-section-3 .u-icon-1 {
  width: 90px;
  height: 90px;
  margin: 9px auto 0;
  padding: 0;
}

.u-section-3 .u-text-1 {
  margin: 16px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1rem;
  margin: 52px 9px 16px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-1 {
    min-height: 717px;
  }

  .u-section-3 .u-text-2 {
    font-size: 0.875rem;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-image-1 {
    min-height: 549px;
  }

  .u-section-3 .u-text-2 {
    font-size: 0.75rem;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-image-1 {
    min-height: 827px;
  }

  .u-section-3 .u-icon-1 {
    width: 69px;
    height: 69px;
    margin-top: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    min-height: 1093px;
  }

  .u-section-3 .u-icon-1 {
    width: 47px;
    height: 47px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 38px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-image-1 {
  min-height: 500px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/Screenshot2022-08-25at20-39-57Lavicocompanyprofile-LAVICO-EDPProfile.pdf.png");
  background-position: 50% 50%;
}

.u-section-4 .u-text-1 {
  margin: 114px auto 0 46px;
}

.u-section-4 .u-text-2 {
  margin: -248px 46px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-image-1 {
    min-height: 334px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 35px;
    margin-right: 381px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: -257px;
    margin-right: 14px;
    margin-left: 559px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-image-1 {
    min-height: 302px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 293px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
    margin-left: 449px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-image-1 {
    min-height: 539px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 31px;
    margin-left: 37px;
    margin-right: 37px;
  }

  .u-section-4 .u-text-2 {
    margin: 14px 183px 30px 37px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-image-1 {
    min-height: 570px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
    margin-left: 46px;
  }

  .u-section-4 .u-text-2 {
    margin: 21px 0 29px 46px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 654px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  text-decoration: underline !important;
  font-size: 1.875rem;
  margin: 22px auto 0;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 44px;
  margin-bottom: 22px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 494px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 30px 14px;
}

.u-section-5 .u-text-2 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1rem;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 494px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 30px 21px;
}

.u-section-5 .u-image-1 {
  height: 443px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 542px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 407px;
  }

  .u-section-5 .u-text-2 {
    font-size: 0.875rem;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 407px;
  }

  .u-section-5 .u-image-1 {
    height: 356px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 608px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 13px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 457px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-bottom: 9px;
  }

  .u-section-5 .u-text-2 {
    font-size: 0.75rem;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 457px;
  }

  .u-section-5 .u-image-1 {
    height: 260px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 972px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 686px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    height: 451px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 690px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 432px;
  }

  .u-section-5 .u-image-1 {
    height: 278px;
  }
}