.u-section-1 .u-sheet-1 {
  min-height: 757px;
}

.u-section-1 .u-image-1 {
  width: 325px;
  height: 341px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-text-1 {
  margin: -254px auto 0 175px;
}

.u-section-1 .u-text-2 {
  margin: 46px auto 0 211px;
}

.u-section-1 .u-table-1 {
  width: 626px;
  margin: 35px auto 60px 0;
}

.u-block-f11c-11 {
  height: 46px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-block-f11c-22 {
  height: 46px;
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-right: auto;
    margin-left: 179px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -328px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    margin-left: 158px;
  }

  .u-section-1 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-top: -155px;
    margin-left: 110px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -101px;
    margin-left: 99px;
  }

  .u-section-1 .u-table-1 {
    width: 340px;
    margin-top: 36px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 328px;
}

.u-section-2 .u-text-1 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-2 .u-text-2 {
  margin: 62px 0 33px;
}.u-section-3 .u-sheet-1 {
  min-height: 335px;
}

.u-section-3 .u-text-1 {
  margin: 20px 500px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 300px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1868px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 80px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-right: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 506px;
}

.u-section-4 .u-text-1 {
  margin: 16px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-text-3 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 33px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-top: 11px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-top: 0;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 572px;
}

.u-section-5 .u-text-1 {
  margin: 22px 0 0;
}

.u-section-5 .u-text-2 {
  margin: -513px 0 0;
}

.u-section-5 .u-text-3 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 40px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: -512px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-top: 25px;
  }

  .u-section-5 .u-text-2 {
    margin-top: -503px;
    margin-bottom: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    margin-top: 26px;
  }

  .u-section-5 .u-text-2 {
    margin-top: -508px;
    margin-bottom: 0;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 829px;
}

.u-section-6 .u-text-1 {
  margin: 66px 0 0;
}

.u-section-6 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 43px;
}