.u-section-1 .u-sheet-1 {
  min-height: 323px;
}

.u-section-1 .u-image-1 {
  width: 385px;
  height: 399px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-text-1 {
  margin: -257px 627px 45px 92px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 519px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 575px;
  }

  .u-section-1 .u-image-1 {
    margin-right: auto;
  }

  .u-section-1 .u-text-1 {
    width: 421px;
    margin: 20px auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 799px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 352px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin: 19px 0 21px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 271px;
}

.u-section-2 .u-text-1 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-2 .u-table-1 {
  margin-top: 0;
  margin-bottom: 60px;
}

.u-block-6663-14 {
  height: 46px;
}

.u-block-6663-33 {
  height: 46px;
}.u-section-3 .u-sheet-1 {
  min-height: 370px;
}

.u-section-3 .u-text-1 {
  margin: 25px auto 0 0;
}

.u-section-3 .u-table-1 {
  margin-top: 30px;
  margin-bottom: 60px;
}

.u-block-b95a-11 {
  height: 46px;
}

.u-block-b95a-26 {
  height: 46px;
}.u-section-4 .u-sheet-1 {
  min-height: 434px;
}

.u-section-4 .u-text-1 {
  margin: 0 0 59px;
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-top: 60px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 706px;
}

.u-section-5 .u-text-1 {
  margin: 21px 0 60px;
}.u-section-6 .u-sheet-1 {
  min-height: 673px;
}

.u-section-6 .u-text-1 {
  margin: 38px 0 60px;
}.u-section-7 .u-sheet-1 {
  min-height: 110px;
}

.u-section-7 .u-text-1 {
  margin: 20px 0 40px;
}.u-section-8 .u-sheet-1 {
  min-height: 90px;
}

.u-section-8 .u-text-1 {
  margin: 20px auto 20px 0;
}.u-section-9 .u-sheet-1 {
  min-height: 430px;
}

.u-section-9 .u-text-1 {
  margin: 20px 0 60px;
}